<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input id="email" [(ngModel)]="emailVal" [ngModelOptions]="{standalone: true}" ngModel email type="email"></ion-input>
      <!-- <ion-note slot="helper">Enter a valid email</ion-note> -->
      <ion-note slot="error">Invalid email</ion-note>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input minlength="5" id="password" [(ngModel)]="passwordVal" [ngModelOptions]="{standalone: true}" type="password"></ion-input>
      <ion-note slot="error">Password must >= 5 Characters</ion-note>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" (click)="Login()" [disabled]="emailVal === '' || passwordVal === ''">Sign In</ion-button>
      </ion-col>
    </ion-row>
    <ion-checkbox [(ngModel)]="isRemember" [ngModelOptions]="{standalone: true}" >Remember Me</ion-checkbox>
</ion-content> 