<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>LogIn</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div>
      <form [formGroup]="loginForm" (ngSubmit)="Login()" novalidate>
        <div class="form-group">
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" class="form-control" formControlName="email" placeholder="Enter email"></ion-input>
            <small class="form-text text-muted" *ngIf="loginForm.controls.email.touched">
            </small>
          </ion-item>
        </div>

        <div class="form-group">
          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" class="form-control" formControlName="password" placeholder="Password"></ion-input>
          </ion-item>
        </div>

        <ion-button type="submit" class="container" [disabled]="!loginForm.valid">Submit</ion-button>

        <ion-checkbox class="form-control" formControlName="checkRemember">Remember me</ion-checkbox>

      </form>
    </div>
  </ion-content> 