<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <strong id="strong">Hello, {{ firstName }} {{ lastName }}</strong>
  <ion-accordion-group expand="inset">
    <ion-accordion *ngFor="let v of tutorials.tutorialVideos">
      <ion-item slot="header" color="light">
        <ion-label>{{v.name}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" *ngFor="let i of v.videos">
        <!-- <div (click)= "setOpen(true, i.link)">{{i.title}}</div> -->
        <div id="{{i.title}}">{{i.title}}</div>
        <ion-alert trigger="{{i.title}}" header="Do you want to Open {{i.title}}?" [buttons]="openLinks" (didDismiss)="setResult($event, true, i.link)"></ion-alert>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  
  <ion-col class="support">
    <ion-button id="logout" color="danger" expand="block">Sign Out</ion-button>
    <ion-alert trigger="logout" header="Do you want to Sign Out?" [buttons]="alertButtons"></ion-alert>
  </ion-col>


  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false, '')">Close</ion-button>
          </ion-buttons>
          </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-content>
              <!-- <iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe"></iframe> -->
              <ion-img src="https://img.youtube.com/vi/H8jl8LplZag/0.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
              <ion-button id="playvideo" (click)="playingVideo()" color="danger" expand="block">Play Video</ion-button>
            </ion-content>
      </ion-content>
    </ng-template>
  </ion-modal>


  
</ion-content>