<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Hello, {{ firstName }} {{ lastName }}</strong>
  </div>
    <ion-col class="support">
      <ion-button id="present-alert" color="danger" expand="block">Sign Out</ion-button>
      <ion-alert trigger="present-alert" header="Do you want to Sign Out?" [buttons]="alertButtons"></ion-alert>
    </ion-col>
</ion-content>
